<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>樂齡生活，重啟生活</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="fontswesome/fontawesome-free-6.6.0-web/css/all.css">
    <link rel="stylesheet" href="">
</head>

<body>
    <div id="app">
        <nav class="navbar navbar-expand-lg w-100 px-5" id="hv">
            <div class="container-fluid">
                <div class="nav-item">
                    <a href="#home" class="nav-link">
                        <img src="" height="60px" alt="">
                    </a>
                </div>
                <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#drop">
                    <i class="fa-solid fa-layer-group text-white"></i>
                </button>
                <div class="collapse navbar-collapse w-100" id="drop">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item px-2">
                            <a href="#home" class="nav-link">
                                <span class="d-block" data-bs-toggle="collapse" data-bs-target="#drop">
                                    <i class="fa-solid me-2 fa-house"></i>首　　頁
                                </span>
                            </a>
                        </li>
                        <li class="nav-item px-2">
                            <a href="#about" class="nav-link">
                                <span class="d-block" data-bs-toggle="collapse" data-bs-target="#drop">
                                    <i class="fa-solid me-2 fa-info-circle"></i>關於我們
                                </span>
                            </a>
                        </li>
                        <li class="nav-item px-2">
                            <a href="#intro" class="nav-link">
                                <span class="d-block" data-bs-toggle="collapse" data-bs-target="#drop">
                                    <i class="fa-solid me-2 fa-pen-nib"></i>樂齡新知
                                </span>
                            </a>
                        </li>
                        <li class="nav-item px-2">
                            <a href="#shop" class="nav-link">
                                <span class="d-block" data-bs-toggle="collapse" data-bs-target="#drop">
                                    <i class="fa-solid me-2 fa-shopping-cart"></i>線上報名
                                </span>
                            </a>
                        </li>
                        <li class="nav-item px-2">
                            <a href="#game" class="nav-link">
                                <span class="d-block" data-bs-toggle="collapse" data-bs-target="#drop">
                                    <i class="fa-solid me-2 fa-gift"></i>限時活動
                                </span>
                            </a>
                        </li>
                        <li class="nav-item px-2">
                            <a href="#contact" class="nav-link">
                                <span class="d-block" data-bs-toggle="collapse" data-bs-target="#drop">
                                    <i class="fa-solid me-2 fa-paperclip"></i>聯絡我們
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="o0" id="o0">
            <a href="" class="btn mt-3 select fcc d-none" data-bs-toggle="modal" data-bs-target="#logout" id="s2">
                <i class="fa-solid fa-user"></i>
            </a>
            <a href="" class="btn mt-3 select fcc" id="s1" data-bs-toggle="modal" data-bs-target="#login">
                <i class="fa-solid fa-right-to-bracket"></i>
            </a>
            <a href="" class="btn mt-3 select fcc" id="" data-bs-toggle="modal" data-bs-target="#cart">
                <i class="fa-solid fa-shopping-cart"></i>
            </a>
            <a href="#game" class="btn mt-3 select fcc" id="">
                <i class="fa-solid fa-gift"></i>
            </a>
            <a href="" class="btn mt-3 select fcc" id="" data-bs-toggle="modal" data-bs-target="#bot">
                <i class="fa-solid fa-robot"></i>
            </a>
            <a href="#home" class="btn mt-3 select fcc" id="">
                <i class="fa-solid fa-sort-up"></i>
            </a>
        </div>







        <section id="home" class="bgf">
            <div class="path path1"></div>
            <div class="path path2"></div>
            <div class="main-title">
                <h1 class="kkm">樂齡生活健康樂活</h1>
                <a href="#about" class="btn mbtn">點擊進入網站<i class="fa-solid ms-2 fa-sort-down"></i></a>
            </div>
            <div id="cc" class="carousel carousel-fade slide" data-bs-ride="carousel" data-bs-pause="false">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="4000">
                        <div class="bgac bgf" style="background-image: url(img/Home1.jpg);"></div>
                        <div class="row vh-100 w-100 fcc">
                            <div class="groupt">
                                <h2 class="tgl"><i class="fa-solid fa-star me-2 aa"></i>重啟嶄新生活</h2>
                                <div class="tgr">
                                    <h4 class="type">提早規劃退休金，可以避免未來生活因資金不足而壓力重重。現在就開始計算，讓你的退休生活更有保障與品質！</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="4000">
                        <div class="bgac bgf" style="background-image: url(img/Home2.jpg);"></div>
                        <div class="row vh-100 w-100 fcc">
                            <div class="groupt">
                                <h2 class="tgl"><i class="fa-solid fa-heart me-2 aa"></i>飲食調整，生活重整</h2>
                                <div class="tgr">
                                    <h4 class="type">透過健康飲食的調整，您不僅能增強免疫力，還能延緩衰老，從餐桌開始享受活力十足的樂齡生活！</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="4000">
                        <div class="bgac bgf" style="background-image: url(img/Home3.jpg);"></div>
                        <div class="row vh-100 w-100 fcc">
                            <div class="groupt">
                                <h2 class="tgl"><i class="fa-solid fa-earth me-2 aa"></i>實現您的夢想清單</h2>
                                <div class="tgr">
                                    <h4 class="type">透過社區參與等方式，不僅可以讓您促進人際交流放鬆身心，還能促進社區永續發展。</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev ff" data-bs-target="#cc" data-bs-slide="prev">
                    <i class="fa-solid fa-circle text-white"></i>
                </button>
                <button class="carousel-control-next ff" data-bs-target="#cc" data-bs-slide="next">
                    <i class="fa-solid fa-circle text-white"></i>
                </button>
            </div>
        </section>
        <section id="about" class="bgf px-3" style="background-image: url(img/about.jpg);">
            <div class="path path3"></div>
            <div class="path path4"></div>
            <div class="cr"></div>
            <div class="container-fluid vh-100 fcc">
                <p class="w" id="ww"><span class="title color2"><i
                            class="fa-solid fa-info-circle aa me-2"></i>關於我們</span>
                    <br><br>隨著<span class="c6"></span>高齡化社會的到來<br>樂齡族群對於<span class="c6">退休生活</span>的期待逐漸從<br><span
                        class="c6">「基本需求」</span>轉向<span class="c6">「品質提升」</span><br>他們希望能在<span
                        class="c6">經濟無憂</span>的基礎上<br>擁有<span class="c6">健康</span>、<span class="c6">充實</span>且有<span
                        class="c6">意義</span>的退休生活<br>針對這些需求<br>我們計劃打造一個<span class="c6">「退休規劃功能網站」</span><br>提供<span
                        class="c6">全方位</span>的支援與資源<br>《活出精彩的退休時光》<br>在近代，樂齡生活已經跳脫傳統<br>「含飴弄孫」的框架<br>轉向一種<span
                        class="c6">積極主動</span>、<span class="c6">探索未知</span>的生活方式<br>退休，不再只是年齡的標誌<br>而是人生另一個<span
                        class="c6">階段</span>的開始。
                </p>
            </div>
        </section>
        <section id="intro" class="bgf py-5" style="background-image: url(img/intro.jpg);">
            <div class="path path5"></div>
            <div class="path path6"></div>
            <h1 class="text-center color2 title"><i class="fa-solid fa-pen-nib aa me-2"></i>樂齡新知</h1>
            <div class="container-fluid mt-3 bgaa">
                <div class="ir" id="ir1">
                    <div class="intro" style="background-image: url(img/i5.jpg);">
                        <div class="black fcc">
                            <div class="group text-center">
                                <h2></h2>
                                <h4>健康是幸福的基石</h4>
                            </div>
                        </div>
                        <div class="white fcc">
                            <div class="group">
                                <h4 class="text-center">健康是幸福的基石</h4>
                                <p>現代樂齡族群深知，健康是享受生活的基礎。他們積極參加運動，如太極拳、瑜伽，甚至是戶外遠足活動。同時，營養均衡的飲食和定期健康檢查，也成為日常生活的一部分。</p>
                            </div>
                        </div>
                    </div>
                    <div class="intro" style="background-image: url(img/i2.jpg);">
                        <div class="black fcc">
                            <div class="group text-center">
                                <h2></h2>
                                <h4>學習與成長</h4>
                            </div>
                        </div>
                        <div class="white fcc">
                            <div class="group">
                                <h4 class="text-center">學習與成長</h4>
                                <p>終身學習的觀念在樂齡族中越來越普及。從烹飪課程到數位科技，他們不斷充實自我，甚至有人開始學習第二語言或藝術創作，找到全新的生活重心。</p>
                            </div>
                        </div>
                    </div>
                    <div class="intro" style="background-image: url(img/i3.jpg);">
                        <div class="black fcc">
                            <div class="group text-center">
                                <h2></h2>
                                <h4>規劃日常運動</h4>
                            </div>
                        </div>
                        <div class="white fcc">
                            <div class="group">
                                <h4 class="text-center">規劃日常運動</h4>
                                <p>可以以輕量運動為主，如快走、游泳或伸展瑜伽，每周保持3到4次運動頻率。參與社區健身課程，讓您能夠增進體能的同時也能促進社交互動。</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ir" id="ir2">
                    <div class="intro" style="background-image: url(img/i4.jpg);">
                        <div class="black fcc">
                            <div class="group text-center">
                                <h2></h2>
                                <h4>社交與奉獻</h4>
                            </div>
                        </div>
                        <div class="white fcc">
                            <div class="group">
                                <h4 class="text-center">社交與奉獻</h4>
                                <p>參與社區志願者活動成立退休者俱樂部，是現代樂齡族的重要活動。他們透過互動豐富了社交生活，也為社會貢獻自己的經驗與熱情。只要用心規劃，每個人都能擁有健康、快樂且有意義的退休時光。「退休不是結束，而是全新開始。」
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="intro" style="background-image: url(img/i1.jpg);">
                        <div class="black fcc">
                            <div class="group text-center">
                                <h2></h2>
                                <h4>建立健康檢查計劃</h4>
                            </div>
                        </div>
                        <div class="white fcc">
                            <div class="group">
                                <h4 class="text-center">建立健康檢查計劃</h4>
                                <p>隨著銀髮族罹患慢性疾病的人數逐漸增長，定期進行健康檢查就顯得特別重要，例如每年一次的全身檢查，包含血壓、血糖與心臟檢測等。並且根據醫師建議增加骨密度檢測與眼科檢查，特別是有家族病史的族群。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="shop" class="bgf py-5">
            <div class="path path7"></div>
            <div class="path path8"></div>
            <div class="row">
                <div class="col-xl-1"></div>
                <div class="col-xl-2 fcc">
                    <h1 style="transform: translateY(-20%);" class="title titlev color2"><i
                            class="fa-solid me-2 aa fa-shopping-cart"></i>線上報名</h1>
                </div>
                <div class="col-xl-7">
                    <div class="row" id="ir3">
                        <div class="col-xl" v-for="item in itemList" :key="item.id">
                            <div class="card cc mx-auto">
                                <div class="card-img-top p-2" @click="showItemModal(item)">
                                    <img :src="item.imgUrl" height="150px" class="ci w-100" alt="">
                                </div>
                                <div class="card-body">
                                    <h6 class="text-center cg" @click="showItemModal(item)">{{item.itemName}} <i
                                            class="fa-solid cgi fa-info-circle ms-2"></i></h6>
                                    <h6 class="cg">NT${{item.price}}</h6>
                                    <span class="cspan fcc">
                                        <button class="btn btn-sm" @click="sub(item)">-</button>
                                        <span>{{item.count}}</span>
                                        <button class="btn btn-sm" @click="plus(item)">+</button>
                                        <button class="btn w-100 lgb1 border-0 btn-sm" @click="add(item)"><i
                                                class="fa-solid fa-shopping-cart"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section  class="bgf py-5" style="min-height: 35vh; background-image: url(img/gwagwa.jpg);">
            <div class="path path9"></div>
            <div class="path path10"></div>
            <h1 style="position: absolute; top: -40%;" id="game"></h1>
            <div class="ir fcc">
                <div class="g1">
                    <h1 class="text-center text-white m-3 gwa">刮刮樂！<br>限時新活動</h1>
                </div>
                <div class="g2"><button class="btn gbtn m-3 fcc" data-bs-toggle="modal" data-bs-target="#gwagwa"><i
                            class="fa-solid fa-gift"></i></button></div>
            </div>
        </section>
        <section id="contact" class="bgf" style="background-image: url(img/contacta.jpg);">
            <div class="container-fluid pr pt-5" style="min-height: 100vh;">
                <div class="path path11"></div>
                <div class="path path12"></div>
                <h1 class="text-center color2 title"><i class="fa-solid me-2 fa-paperclip aa"></i>聯絡我們</h1>
                <div class="row mt-3 justify-content-center">
                    <div class="col-lg-4 contact p-5" id="ir5">
                        <h1 class="text-white txs text-center mb-3">訪客留言<i class="fa-solid fa-share ms-2"></i></h1>
                        <p class="text-white txs">如果有任何樂齡活動上的問題以及建議，歡迎在下方留言讓我們知道，我們會盡快回覆您。</p>
                        <div class="form-group pr">
                            <input type="text" class="form-control mt-3" placeholder="請輸入您的暱稱" v-model="nickname">
                            <textarea name="" class="form-control mt-3" placeholder="請輸入您的留言" id=""
                                v-model="message"></textarea>
                            <button class=" sb btn fcc" @click="sb"><i class="fa-solid fa-paper-plane"></i></button>
                        </div>
                    </div>
                    <div class="col-lg-4 msga p-5" id="ir4">
                        <h1 class="text-white txs text-center mb-3">意見交流<i class="fa-solid fa-bookmark ms-2"></i></h1>
                        <div class="msg-item" v-for="(msg,index) in rmsg">
                            <div class="msg-head"><i class="fa-solid fa-user me-2"></i>{{msg.nickname}}</div>
                            <div class="msg-body">
                                {{msg.message}}
                            </div>
                        </div>
                        <div class="msg-item" >
                            <div class="msg-head"><i class="fa-solid fa-user me-2"></i>王大明</div>
                            <div class="msg-body">
                                大家好，我是近期退休的一名工程師，我認為這個網站對於活動的安排非常縝密，讓其他高齡人士，擁有充實的生活。
                            </div>
                        </div>
                        <div class="msg-item" >
                            <div class="msg-head"><i class="fa-solid fa-user me-2"></i>小林哥</div>
                            <div class="msg-body">
                                我是一名高齡人士，透過這個網站的樂齡新知，我成功了解到如何好好度過我的退休生活日子。
                            </div>
                        </div>
                        <div class="msg-item" >
                            <div class="msg-head"><i class="fa-solid fa-user me-2"></i>小美</div>
                            <div class="msg-body">
                                透過本網站的飲食管理祕訣，我的奶奶身體健康一天比一天樂觀，真的非常感謝本網站帶來的健康知識。
                            </div>
                        </div>
                        <div class="msg-item" >
                            <div class="msg-head"><i class="fa-solid fa-user me-2"></i>小本</div>
                            <div class="msg-body">
                               請問限時活動的截止日期是何時呢?
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer>
                <div class="row">

                    <div class="col-lg-6 fcc br pt-3">
                        <span class="ms-2"><i class="fa-brands me-1 fa-facebook"></i>樂齡生活</span>
                        <span class="ms-2"><i class="fa-brands me-1 fa-instagram"></i>OldLife</span>
                        <span class="ms-2"><i class="fa-brands me-1 fa-line"></i>享樂齡Life</span>
                    </div>
                    <div class="col-lg-6 fcc  bl pt-3">
                        <span class="mx-auto d-block tex-center">打造樂齡生活，享樂人間.....</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 pb-2" style="background-color: var(--color2);">
                        <hr style="width: 80%;" class="text-white text-center">
                        <span class="d-block text-center text-white">&copy;2024 CopyRight All Reserved</span>
                    </div>
                </div>
            </footer>
        </section>



        <div class="modal fade" id="login">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header"><button class="btn-close btn-close-white"
                            data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body p-5">
                        <h1 class="text-center color2 ">登入會員</h1>
                        <div class="form-group">
                            <input type="email" class="form-control mt-4" placeholder="請輸入您的電子郵件">
                            <input type="password" class="form-control mt-4" placeholder="請輸入您的密碼">
                        </div>
                        <button class="btn w-100 btn-sm lgb1 mt-4" data-bs-toggle="modal" data-bs-target="#login1"
                            onclick="l1()">登入會員</button>
                        <span class="or mt-4">或</span>
                        <button class="btn w-100 btn-sm lgb2 mt-4" data-bs-toggle="modal" data-bs-target="#login2"
                            onclick="l1()">加入會員</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade modal-sm" id="login1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header"><button class="btn-close btn-close-white"
                            data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body fcc">
                        <div class="group color4 text-center">
                            <i class="fa-solid fa-check" style="font-size: 120px;"></i>
                            <h5 class="mt-2">已登入會員</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade modal-sm" id="login2">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header"><button class="btn-close btn-close-white"
                            data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body fcc">
                        <div class="group color4 text-center">
                            <i class="fa-solid fa-smile" style="font-size: 120px;"></i>
                            <h5 class="mt-2">已加入會員</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="logout">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header"><button class="btn-close btn-close-white"
                            data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body p-5 text-center color4">
                        <i class="fa-solid fa-user text-center" style="font-size: 90px;"></i>
                        <h6 class="mt-2">您現在可以使用購物車以及參與限時活動</h6>
                        <button class="btn lgb2 w-100 btn-sm mt-2" data-bs-dismiss="modal" onclick="l2()">登出</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade modal-sm" id="add">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header"><button class="btn-close btn-close-white"
                            data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body fcc">
                        <div class="group color4 text-center">
                            <i class="fa-solid fa-shopping-cart" style="font-size: 120px;"></i>
                            <h5 class="mt-2">已加入購物車</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade modal-sm" id="content">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">{{selectedItem ? selectedItem.itemName :''}}<button class="btn-close btn-close-white"
                            data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body ">
                        {{selectedItem ? selectedItem.content :''}}
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade modal-lg" id="cart">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">購物車<button class="btn-close btn-close-white"
                            data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <table class="table">
                            <thead>
                                <tr class="text-center">
                                    <th>活動</th>
                                    <th>價格</th>
                                    <th>數量</th>
                                    <th>小計</th>
                                    <th>控制</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="text-center" v-for="item in cart" :key="item.id">
                                    <td>{{item.itemName}}</td>
                                    <td>NT${{item.price}}</td>
                                    <td>
                                        <button class="btn btn-sm" @click="sub(item)">-</button>
                                        <span>{{item.count}}</span>
                                        <button class="btn btn-sm" @click="plus(item)">+</button>
                                    </td>
                                    <td>NT${{item.price *item.count}}</td>
                                    <td><button class="btn btn-sm btn-danger" @click="remove(item)"><i
                                                class="fa-solid fa-trash"></i></button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <span class="me-2">合計：NT${{cartTotal}}</span>
                        <button class="btn btn-sm btn-success " data-bs-toggle="modal" data-bs-target="#login"
                            id="s3">請先登入會員</button>
                        <button class="btn btn-sm btn-success d-none" data-bs-toggle="modal" data-bs-target="#success"
                            id="s4">填寫訂單資料</button>
                        <button class="btn btn-sm btn-danger" @click="reset">重置</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="success">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header"><button class="btn-close btn-close-white"
                            data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body p-5">
                        <h1 class="text-center color2">填寫訂單資料</h1>
                        <form action="" @submit.prevent="submit">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-6"><input type="text" class="form-control mt-3" placeholder="姓氏"
                                            required></div>
                                    <div class="col-lg-6"><input type="text" class="form-control mt-3" placeholder="名字"
                                            required></div>
                                    <div class="col-lg-12"><input type="email" class="form-control mt-3"
                                            placeholder="電子郵件" required></div>
                                    <div class="col-lg-12"><input type="tel" maxlength="10" minlength="10"
                                            class="form-control mt-3 mb-3" placeholder="電話號碼" required></div>
                                    <div class="col-lg-3"><input type="text" maxlength="4" minlength="4"
                                            class="form-control" placeholder="0000" required></div>
                                    <div class="col-lg-3"><input type="text" maxlength="4" minlength="4"
                                            class="form-control" placeholder="0000" required></div>
                                    <div class="col-lg-3"><input type="text" maxlength="4" minlength="4"
                                            class="form-control" placeholder="0000" required></div>
                                    <div class="col-lg-3"><input type="text" maxlength="4" minlength="4"
                                            class="form-control" placeholder="0000" required></div>
                                    <div class="col-lg-6">
                                        <select name="" class="form-control mt-4" required id="">
                                            <option value="">發卡銀行</option>
                                            <option value="1">台灣銀行</option>
                                            <option value="2">土地銀行</option>
                                            <option value="3">華南銀行</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-12">
                                        <button class="btn btn-sm lgb2 mt-4 w-100" type="submit">送出訂單<i
                                                class="fa-solid fa-check ms-2"></i></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="gwagwa">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header"><button class="btn-close btn-close-white"
                            data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body pt-3">
                        <div class="container-fluid fcc" style="flex-direction: column;">
                            <p class="num">按下滑鼠左鍵並且拖曳即可開始刮刮樂</p>
                            <canvas class="mt-2" id="draw" height="420px" width="300px"></canvas>
                            <div class="display d-none">
                                <p class="mt-2 text-center">恭喜獲得樂齡海灘渡假村門票*1</p>
                                <button class="btn btn-sm btn-info mt-1 btn-info text-white w-100"
                                    data-bs-toggle="modal" data-bs-target="#login" id="s5">請先登入會員</button>
                                <button class="btn btn-sm d-none btn-info mt-1 btn-info text-white w-100"
                                    data-bs-toggle="modal" data-bs-target="#mail" id="s6">寄送兌換碼</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade modal-sm" id="mail">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header"><button class="btn-close btn-close-white"
                            data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body fcc">
                        <div class="group color4 text-center">
                            <i class="fa-solid fa-envelope" style="font-size: 120px;"></i>
                            <h5 class="mt-2">已寄送兌換碼</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade modal-sm" id="sent">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header"><button class="btn-close btn-close-white"
                            data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body fcc">
                        <div class="group color4 text-center">
                            <i class="fa-solid fa-paper-plane" style="font-size: 120px;"></i>
                            <h5 class="mt-2">已送出留言</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade modal-sm" id="bot">
            <div class="modal-dialog modal-dialog-centered" style="position: absolute; top: 10%; right: 5%;">
                <div class="modal-content">
                    <div class="modal-header">齡齡機器人<button class="btn-close btn-close-white"
                            data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body ">
                        <div class="msg-box" id="msg-box">
                            <div class="quest">您好!我叫做齡齡，如果有任何活動上的問題以及其他需求都可以在下方留言告訴我們唷!</div>
                        </div>
                        <div class="input-group input-group-sm mt-2">
                            <input type="text" id="uip" class="form-control " placeholder="在此輸入您的需求">
                            <button id="stbtn" class="btn fcc lgb1"><i class="fa-solid fa-paper-plane"></i></button>
                        </div>
                        <div class="d-flex flex-wrap mt-2 gap-2">
                            <button class="q-btn btn lgb2 btn-sm" value="q1" onclick="window.location.href='#shop'">報名</button>
                            <button class="q-btn btn lgb2 btn-sm" value="q2">協助</button>
                            <button class="q-btn btn lgb2 btn-sm" value="q3">財務管理</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="js/vue.js"></script>
<script src="js/index.js"></script>
<script src="js/bootstrap.bundle.js"></script>
<script src="js/scrript.js"></script>
<script src="js/jquery-3.7.1.min.js"></script>
<script>
    const answers = {
        q1: '詳細請至，線上報名查看',
        q2: '如果您有任何建議以及需求歡迎發送電子郵件至我們的信箱service@gmail.com',
        q3: '預估每月支出列出退休後的基本支出（如飲食、房租、水電費），以及娛樂或旅行等額外支出。<br>醫療支出在老年階段可能會增加，需要適當預留<br>計算退休年數假設退休年齡為 65 歲，壽命預計 85 歲，那麼需要至少 20 年的生活資金<br>將每月支出乘以 12 個月，再乘以退休年數，即可得出大致需求金額<br>檢視現有資源包括勞保退休金、定存、股票或其他投資，總結現有財務狀況，計算資金缺口。',
    }

    const addmsg = (content , isUser = false) =>{
        const msgclass = isUser ? 'user' : 'quest';
        $('#msg-box').append(
            `
            <div class="${msgclass}">
                ${content}
            </div>
            `
           
        )
        $('#msg-box').scrollTop($('#msg-box')[0].scrollHeight)
    }
    $(document).ready(function(){
        $(document).on('click' , '.q-btn' ,function(){
            const qt = $(this).text()
            const at = answers[$(this).val()]
            addmsg(qt,true)

            setTimeout(()=>addmsg(at),500)
        })

        $('#stbtn').on('click' , function(){
            const uip = $('#uip').val().trim()
            if(uip){
                addmsg(uip,true)
                $('#uip').val('')
                $('#uip').focus()

                setTimeout(()=>addmsg('請連接網路後再嘗試'),500)

            }
        })
        
    })
</script>

</html>